/*h1 (title), h2 products, h2bold be zen, h3 title mini, h4 title footer

header
    logo
    nav
        nav list
            nav item

home-hero
    hero-info
    hero-image

be-zen

products
    item
        product-text
        img
    item reverse    

discover

summary
    mini

footer
    column
*/



/*import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');


/*General styling*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --clr-primary: #FFFFFF;
    --clr-light: #F1F1F1;
    --clr-dark: #1D223E;
    --clr-acc-1: #FFA13E;
    --clr-acc-2: #4E4BB9;
    --clr-acc-3: #EF6B69;
    --clr-acc-4: #F2DBAF;
}

.fade-in {
    opacity: 0;
    transition: opacity 600ms ease-in; 
}

.fade-in.appear {
    opacity: 1;
}


/*Typography*/

h1, h2, h3, h4 {
    font-family: "Source Serif Pro", "DM Serif Display", Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    color: var(--clr-dark);
}

body {
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

h4 {
    letter-spacing: 1.5px;
    font-size: 1.1 rem;
}

p {
    font-size: 1rem;
    margin-top: 1rem;
    color: grey;
}

a {
    text-decoration: none; 
}

ul {
    list-style: none;
}

/*Buttons*/

button {
    margin-top: 2rem;
    text-transform: lowercase;
    padding: 0.6rem 1.5rem;
    border: none;
    background: var(--clr-dark);
    color: var(--clr-primary);
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

button:focus, button:hover {
    opacity: 0.9;
    outline: none;
}

.btn-large {
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    border-radius: 15px;
}

/*Header*/

header {
    text-align: right;
    margin: 0 5rem;
    padding: 3rem 2rem;
    border-bottom: 1px solid grey;
}

header img {
    width: 150px;
    margin-top: -20px;
}

.nav-item {
    display: inline-block;
    padding: 0 1rem;
}

.logo {
    float: left;
}

/*Hero*/

.hero {
    margin-top: 3rem;
    background: url(./images/back_together.png) no-repeat center;
    background-size: cover;
    min-height: 1300px;
}

.home-hero {
    min-height: 900px;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around; 
}

.hero-text {
    margin-top: 8rem;
    width: 40%;
    max-width: 550px;
    min-width: 300px;
    z-index: 10;
}

.home-hero p,
.home-hero button {
    margin-top: 2rem;
}

.hero-image {
    margin-top: 16rem;
    width: 450px;
    z-index: 1;   
}

.home-hero img {
    width: 100%;
    z-index: 1;
}

/*Be zen*/

.be-zen {
    text-align: center;
    width: 100%;
    display: grid;
    place-items: center;
    padding-bottom: 3.5rem;
    margin-top: 6rem;
}

.zen-container {
    width: 25%;
    max-width: 300px;
}

.zen-container img {
    width: 20%;
    margin-top: 2rem;
}

.bold {
    font-weight: 900;
}


/*Products*/

.products {
    width: 100%;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.reverse {
    flex-direction: row-reverse;
}

.product-text {
    width: 35%;
    padding: 0 3.5rem;
    max-width: 500px;
}

.product-image {
    width: 40%;
    max-width: 600px;
}

.product-image img {
    width: 100%;
    padding: 0 3.5rem;
}

/*Discover*/

.discover {
    display: grid;
    place-items: center;
    padding: 3.5rem 0;
    margin-top: 6rem;
}

/*Summary*/

.summary {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    margin-top: 5rem;
}

.mini {
    text-align: center;
    display: grid;
    grid-template: 65px 80px 80px / 1fr;
    place-items: center;
    width: 25%;
    max-width: 300px;
    padding: 0.5rem;
}

.mini p {
    font-size: 0.9rem;
}

.color {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.orange {
    background-color: var(--clr-acc-1);
}

.purple {
    background-color: var(--clr-acc-2);
}

.red {
    background-color: var(--clr-acc-3);
}

.beige {
    background-color: var(--clr-acc-4);
}

/*Footer*/

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-dark);
    color: var(--clr-primary);
    height: 200px;
    margin-top: 5rem;
}

.column {
    max-width: 25%;
    margin: 1rem 5%;
}

footer img {
    width: 150px;
}

footer p {
    color: var(--clr-primary);
    font-weight: 600;
}

/*Media query* breakpoint 800px/

