/*Loader*/

.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: grid;
    place-items: center;
}

/*Animations loader & fade-in*/

@keyframes fadeOut {
    100% {
        opacity: 0;
        display: none;
        z-index: -1;
    }
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

.fade-in {
    opacity: 0;
    transition: opacity 600ms ease-in; 
}

.fade-in.appear {
    opacity: 1;
}

/*General styling*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 14px;
}

:root {
    --clr-primary: #FFFFFF;
    --clr-light: #F1F1F1;
    --clr-dark: #1D223E;
    --clr-bg: #EAEAEA;
    --clr-acc-1: #FFA13E;
    --clr-acc-2: #4E4BB9;
    --clr-acc-3: #EF6B69;
    --clr-acc-4: #F2DBAF;
}

section {
    padding: 6rem 7%;
}

.container {
    max-width: 1400px;
    margin: auto;
}

.products, .news {
    background-color: var(--clr-bg);
}


/*Typography*/

h1, h2, h3 {
    font-family: "Source Serif Pro", Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    color: var(--clr-dark);
}

.title, .title-text {
    color: var(--clr-primary);
}

body {
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: 400;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

p {
    font-size: 1.1rem;
    margin-top: 1rem;
    color: grey;
}

a {
    text-decoration: none; 
    color: var(--clr-dark);
}

ul {
    list-style: none;
}

/*Buttons and links*/

.btn {
    margin-top: 2rem;
    text-transform: lowercase;
    padding: 0.6em 2em;
    border: none;
    background: var(--clr-dark);
    color: var(--clr-primary);
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    display: inline-block;
    transition: all 200ms ease-in-out;
}

.btn:focus, 
.btn:hover {
    background: var(--clr-acc-3);
    color: var(--clr-primary);
    transform: scale(1.1);
    outline: none;
}

.btn-large {
    font-size: 1.2rem;
    border-radius: 15px;
    background: var(--clr-acc-2);
}

.btn-large:focus,
.btn-large:hover {
    background: var(--clr-primary);
    color: var(--clr-acc-2);
}

.btn-small {
    font-size: 0.9rem;
    width: 8.6rem;
}

.btn-small:focus,
.btn-small:hover {
    background: var(--clr-acc-1);
    color: var(--clr-primary);
}

/*Header*/

header {
    text-align: right;
    padding: 1% 5%;
    background-color: var(--clr-primary);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header img {
    width: 150px;
}

.nav-item {
    display: inline-block;
    padding: 0 1rem;
}

.logo {
    float: left;
}

/*Hero*/

.home-hero {    
    min-height: 90vh;
    background: url(./images/Foto.png) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.hero-text {
    width: 40%;
    min-width: 30rem;
}

/*Be zen*/

.be-zen {
    text-align: center;
    width: 100%;
    background: url(./images/Back\ ground.png) no-repeat top;
    background-size: cover;
    margin-top: -8rem;
    padding: 3rem 0 0;
}

.be-zen .container {
    display: grid;
    place-items: center;
}

.zen-small {
    width: 40%;
    max-width: 22rem;
}

.zen-small img {
    width: 80%;
}

.bold {
    font-weight: 900;
}

.divider {
    width: 100%;
    margin-bottom: -2.5rem;
}

/*Products section*/

.products .container {
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-wrap: wrap;
}
.products {
    margin-top: -6rem;
    padding-bottom: 8rem;
}

.item {
    text-align: center;
    flex: 1 1 175px;
    display: grid;
    grid-template: 12rem 4.5rem 8rem 4.5rem/ 1fr;
    place-items: center;
    margin: 1.2rem;
    padding: 1rem 1rem 2rem;
    max-width: 20rem;
    background: var(--clr-primary);
}

.item img {
    width: 90%;
    max-width: 15rem;
}

/*Location section*/

.location {
    background: url(./images/back\ map.png) no-repeat center;
    background-size: cover;
    background-color: var(--clr-bg);
    padding: 6rem 4%;
}

.location .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.location-text {
    width: 20rem;
    margin-right: 2rem;
}

.location-text img {
    margin-left: 7.5rem;
    width: 50px;
    margin-bottom: 1.5rem;
    align-self: center;
}

.location-image {
    margin-top: 4rem;
    width: 65%;
    align-self: center;
}

.location-image img {
    width: 100%;
}

/*News*/

.news-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2.5rem 0 4rem;
    border-bottom: 1px solid var(--clr-dark);
}

.card {
    flex: 0 1 22rem;
    padding: 1.5rem;
    background-color: var(--clr-primary);
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0.5rem;
}

.card img {
    width: 100%;
    align-self: center;
}


/*Footer*/

footer {
    background-color: var(--clr-dark);
    color: var(--clr-primary);
    height: 10rem;
}

footer .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.column {
    max-width: 25%;
    margin: 1rem 2%;
}

footer img {
    width: 9rem;
}

footer p {
    color: var(--clr-primary);
    font-weight: 600;
}



/*Media query* breakpoint 700px*/

@media only screen and (max-width: 700px) {

  html {
    font-size: 12px;
  }

  .home-hero {
    padding-top: 0;
  }

  .hero-text {
    min-width: 250px;
  }

  .title {
    font-size: 2.5rem;
  }

  header .container {
      flex-direction: column;
      padding-bottom: 1rem;
  }
}

@media only screen and (max-width: 1000px) {
    
    .item {
        flex: 1 1 240px;
    }
    
  }


