
/*Hero* grid: rows - columns */ 

.zt-hero {
    display: grid;
    grid-template: 2fr 1fr / 7% 1.5fr 1fr 7%; 
    place-items: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0;
}

.video-bg {
    width: 100%;
    grid-column: 1 / 5;
    grid-row: 1 / 3;
    z-index: -1;
}

.zt-hero .container {
    padding: 2rem;
    max-width: 600px;
    grid-column: 2;
    grid-row: 1 / 2;
    z-index: 10;
    min-width: 24rem;
}

.title {
    font-size: 4rem;
}

.title-text {
    font-size: 1.8rem;
    line-height: 1.5;
}

/*Scale*/

.scale {
    background: url(./images/Back\ ground.png) no-repeat top;
    background-size: cover;
    padding: 0 7%;
    margin-top: -10rem;
}

.scale .container {
    position: relative;
    text-align: center;
    width: 100%;
    display: grid;
    place-items: center;
}

.scale-container {
    width: 80%;
    max-width: 500px;
    margin-top: 2rem;
}

.scale-container img {
    position: relative;
    width: 30%;
    z-index: 20;
}

/*Stats*/

.stats {
    background: url(./images/curvy\ background_first_idea..png) no-repeat bottom;
    background-size: cover;
    padding: 0 7%;
}

.stats .container {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    flex-wrap: wrap;
}

.stat {
    flex: 1 1 180px;
    text-align: center;
    width: 20%;
    max-width: 240px;
    margin-bottom: -7rem;
    margin-top: 8rem;
}

.stat img {
    width: 7rem;
}

/*Value props*/

.value-props {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.value-item {
    width: 85%;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.reverse {
    flex-direction: row-reverse;
}

.item-text {
    width: 35%;
    min-width: 22rem;
    padding: 2%;
    margin-bottom: 5%;
}

.item-text h2 {
    font-size: 2.2rem;
}

.item-text p,
.item-text a {
    font-size: 1.2rem;
    margin-top: 2rem;
}

.item-text a {
    display: block; 
    color: var(--clr-acc-1);
}

.item-image {
    width: 60%;
    padding: 0 2%;   
}

.item-image img {
    width: 100%;
}

.value-img-1 {
    width: 50%;

}

.value-1 {
    align-self: flex-start;
}


/*Lines*/


.line-1 {
    margin-top: 10rem;
    margin-bottom: 0;
}

.line-2 {
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.line-3 {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.line-4 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.line-5 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.line-6 {
    margin-top: 3rem;
    margin-bottom: 4rem;
} 

/*Features*/

.features {
    text-align: center;
    padding: 2% 7% 10%;
    max-width: 1400px;
    margin: auto;
}

.feature-grid {
    display: grid;
    place-items: center;
    grid-template: repeat(2, 150px) / repeat(3, 1fr);
}

.feature-grid-item { 
    width: 20rem;
}

.feature-grid-item img {
    width: 25%;
}


@media (max-width: 900px) {
    html {
        font-size: 12px;
      }

    .zt-hero {
        grid-template: 1fr / 7% 1fr 7%;
    }

    .video-bg {
        grid-column: 1 / 4;
    }
    
    .zt-hero .container {
        grid-column: 2;
    }

    .scale {
        margin-top: -1rem;
    }

    .feature-grid { 
        grid-template: repeat(3, 150px) / repeat(2, 1fr); 
    }

}



@media (max-width: 600px) {
    html {
        font-size: 10px;
    }
    .zt-hero-text {
        text-align: center;
    }
    .title {
        font-size: 3rem;
    }

    .title-text {
        font-size: 1.1rem;
    }

    .feature-grid-item {
        width: 110px;
    }
    
  }


